<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.free.code.qrcodeapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.free.code.qrcodeapp.QRCobaApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/mainlog"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mainlog"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.free.code.qrcodeapp.ui.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.free.code.qrcodeapp.ui.home.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />
        <activity
            android:name="com.free.code.qrcodeapp.ui.settings.SettingsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />
        <activity
            android:name="com.free.code.qrcodeapp.ui.generatedcode.GeneratedCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />
        <activity
            android:name="com.free.code.qrcodeapp.ui.scanresult.ScanResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />
        <activity
            android:name="com.free.code.qrcodeapp.ui.pickedfromgallery.PickedFromGalleryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.free.code.qrcodeapp.ui.about_us.AboutUsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.free.code.qrcodeapp.ui.privacy_policy.PrivayPolicyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />
    </application>

</manifest>